.menu-hamburguer {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.menu-hamburguer span {
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
  margin: 5px 0;
  transition: 0.3s;
}

.menu-hamburguer.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-hamburguer.ativo span:nth-child(2) {
  opacity: 0;
}

.menu-hamburguer.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
