.principal__imagem.hero {
  min-height: 80vh;
  position: relative;
  /* background-image: url("./imagens/capa1.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
}

.principal__imagem.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero__conteudo {
  position: relative;
  z-index: 2;
  color: var(--cor-branco);
  padding: 1.5rem;
  text-align: left;
  max-width: 90%;
}

.principal__titulo {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.principal__descricao {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.principal__botoes {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.principal__botao {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.3s ease;
}

.principal__botao--agendar {
  background-color: var(--cor-cinza);
  color: var(--cor-branco);
}

.principal__botao--agendar:hover {
  background-color: #55584f;
  color: var(--cor-branco);
}

.principal__botao--servicos {
  background-color: transparent;
  color: var(--cor-branco);
  border: 1px solid var(--cor-branco);
}

.principal__botao--servicos:hover {
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  border: 1px solid var(--cor-branco);
}

.principal__informacoes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.principal__info {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.principal__icone {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
}

.principal__texto {
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

.principal__texto__secundario {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
