:root{
    --fonte: 'Montserrat', sans-serif;
    --cor-preto: #181C14;
    --cor-branco: #F4F4F4;
    --cor-cinza: #3C3D37;  
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-branco);
}

.cabecalho {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid rgba(60, 61, 55, 0.2);
    box-sizing: border-box;
}